.accomodationsPopular {
    min-width: 380px;
    &__container {
        height: 100%;
        padding: 1.5rem 1.5rem;
        &__title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5rem;
        }
        &__cards {
            height: 504px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}