.cardAccomodations {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: $container-borderRadius;
    min-width: 230px;
    height: 240px;
    box-shadow: $cards-boxShadow;
    transition: 0.3s;
    &:hover {
        box-shadow: $cards-boxShadow-hover;
        transform: scale(1.02);
    }
    &__illustration img {
        object-fit: cover;
        width: 100%;
        height: 140px;
        padding: 0.25rem 0.25rem 0 0.25rem;
        border-radius: 25px 25px 0 0;
    }
    &__informations {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
    }
}