.cardActivities {
    margin-top: 1.5rem;
    border-radius: 25px;
    box-shadow: $cards-boxShadow;
    &__illustration img {
        width: 100%;
        max-height: 500px;
        border-radius: 25px 25px 0 0;
    }
    &__informations {
        padding: 1rem;
    }
}