.cardPopularAccomodations {
    background-color: white;
    border-radius: $container-borderRadius;
    box-shadow: $cards-boxShadow;
    transition: 0.3s;
    &:hover {
        box-shadow: $cards-boxShadow-hover;
        transform: scale(1.02);
    }
    &--link {
        display: flex;
    }
    &__illustration img {
        object-fit: cover;
        height: 100%;
        width: 150px;
        padding: 0.25rem 0 0.25rem 0.25rem;
        border-radius: 25px 0 0 25px;
    }
    &__informations {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
    }
}

// ------------Small Devices------------
@media screen and (max-width: 576px) {
    .cardPopularAccomodations {
        &__illustration {
            & img {
                width: 100px;
            }
        }
        &__informations {
            padding: 0.5rem;
        }
    }
}