h2 {
    font-size: 1rem;
}

h3, p, a, input, button {
    font-size: 0.75rem;
}

a {
    color: $text-color;
    text-decoration: none;
}
  
li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

header, section, .footer__container {
    margin: 0 2rem;
    @media screen and (max-width: 576px) {
        margin-inline: 0.5rem;
    }
}