$text-color: black;

$primary-color: #0065FC;
$secondary-color: #DEEBFF;
$tertiary-color: #F2F2F2;

$container-borderRadius: 25px;

$cards-boxShadow: 1px 3px 5px -1px rgba(0,0,0,0.52);
$cards-boxShadow-hover: 1px 3px 9px -1px rgba(0,0,0,0.52);