.filter {
    position: relative;
    display: flex;
    align-items: center;
    height: 2.5rem;
    border-radius: 25px;
    cursor: pointer;
    &__logo {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 2.5rem;
        background-color: $secondary-color;
        border: 2px solid $secondary-color;
        border-radius: 50%;
    }
    &__text {
        font-weight: bold;
    }
}

// Animations filtres
.filter-animations {
    &__false {
        background-color: white;
        border: 2px solid $tertiary-color;
        transition: 1s;
    }
    &__true {
        background-color: $secondary-color;
        border: $secondary-color;
        transition: 1s;
    }
}
.filter-animations-logo {
    &__false {
        background-color: $secondary-color;
        border: 2px solid $secondary-color;
        left: -4px;
        transition: 1s;
    }
    &__true {
        background-color: white;
        border: 2px solid $primary-color;
        left:calc(100% - 40px);
        right : 100px;
        transition: 1s;
    }
}
.filter-animations-text {
    &__false {
        padding-inline: 3rem 1.5rem;
        transition: 1s;
    }
    &__true {
        padding-inline: 1.5rem 3rem;
        transition: 1s;
    }
}