.filter {
    position: relative;
    display: flex;
    align-items: center;
    height: 2.5rem;
    border: 2px solid $tertiary-color;
    border-radius: 25px;
    &__logo {
        position: absolute;
        left: -4px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 2.5rem;
        background-color: $secondary-color;
        border-radius: 50%;
    }
    &__text {
        font-weight: bold;
        padding-inline: 3rem 1.5rem;
    }
}