.searchInput {
    position: relative;
    display: flex;
    margin-block: 1rem 1.5rem;
    &--focus {
        flex: 1;
        display: flex;
        &:focus-within > label {
            border: 0.5px solid $primary-color;
            border-right: none;
            box-shadow: inset 3px 0px 9px -2px $primary-color;
            outline: none;
        }
    }  
}

.searchInput__label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary-color;
    border-radius: 10px 0 0 10px;
    & img {
        width: 0.75rem;
    }
}

.searchInput__input {
    width: 100%;
    padding-inline: 1rem;
    border: 1px solid $tertiary-color;
    &:focus-visible  {
        border: 0.5px solid $primary-color;
        border-left: none;
        box-shadow: inset -3px 0px 5px -2px $primary-color;
        outline: none;
    }
    @media screen and (max-width: 576px) {
        padding-inline: 0.5rem 0;
    }
}

.searchInput__selection {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 10rem;
    background-color: white;
    z-index: 1;
    border: solid 1px grey;
    & ul {
        & li {
            height: 2rem;
            padding-left: 1rem;
        }
    }
}

