.searchInput {
    display: flex;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.searchInput__label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    background-color: $tertiary-color;
    border-radius: 10px 0 0 10px;
    & img {
        width: 0.75rem;
    }
}

.searchInput__button {
    background-color: $primary-color;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 0 0.75rem;
}

.searchInput__input {
    width: 14rem;
    padding-inline: 1rem;
    border: 1px solid $tertiary-color;
    &:focus-visible {
        border: 0.5px solid $primary-color;
        border-left: none;
        box-shadow: inset 0px 0px 9px -2px $primary-color;
        outline: none;
    }
}

