.accomodationsSection {
    display: flex;
    margin-top: 1.5rem;
    gap: 1.5rem;
    @media screen and (max-width: 992px) {
        flex-direction: column-reverse;
        margin-inline: 0;
    }
}

.accomodations, .accomodationsPopular {
    background-color: $tertiary-color;
    border-radius: $container-borderRadius;
}