.footer {
    background-color: $tertiary-color;
}

.footer__container {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    padding-block: 3rem;
    &__menu {
        & h2 {
            margin-bottom: 1rem;
        }
        & li {
            margin-bottom: 0.5rem;
            :hover {
                text-decoration: underline;
            }
        }
    }
    @media screen and (max-width: 576px) {
        flex-direction: column;
        margin-bottom: rem;
        padding-block: 1.5rem;
        & h2 {
            margin-block: 1rem 0.5rem;
        }
        & li {
            margin-bottom: 0.5rem;
            :hover {
                text-decoration: underline;
            }
        }
    }
}