.footer {
    height: 200px;
    margin-top: 3rem;
    background-color: $tertiary-color;
}

.footer__container {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    padding-block: 1.5rem;
    &__menu {
        & h2 {
            margin-bottom: 1rem;
        }
        & li {
            margin-bottom: 0.5rem;
        }
    }
}